default_color = #333
primary_color = #e6d996
secondary_color = #934
link_color = secondary_color
visited_color = #ccc

a
  &:link
    color link_color

  &:visited
    color visited_color

  &.active
    text-decoration underline
    
ul
  list-style-type none

.oneline
  overflow ellipsis